.opacity-zero{
  opacity: 0;
}
.data-content{
  position: relative;
  left: -0.7rem;
  margin: 10px 0px;
  width: calc( 100% + 0.7rem );
  display: grid;
  grid-template-columns: 1rem auto;
  grid-template-rows: auto 0.7rem;
  gap: 5px;
}
.data-content-move-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.data-content-move-bar >:last-child{
  transform: rotate(180deg);
}
.data-content-move-bar button{
  all:unset;
  width: 100%;
  padding:2px;
  box-sizing: border-box;
}
.data-content-move-bar button:hover{
  background-color: #666;
}

.data-content-move-bar img{
  width: 100%;
}



.data-content-info{
}




.edit-content-bar{
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.edit-content-bar button{
  font-size: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: .8rem;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0.1rem;
  transition: flex-grow 2s;
}
.edit-content-bar button img{
  height: 100%;
}
/*
.edit-content-bar>button::first-letter{
  color: #000F;
}
*/
.edit-content-bar button:hover{
  flex-grow: 1;
}

.labelText{
  background-color: white;
  width: 0px;
  text-indent: 100px;
}
.labelText:hover{
  text-indent: 0px;
}

.edit-content-bar .editContent{
  background-color: darkseagreen;
}
.edit-content-bar .insertContent{
  background-color: lightyellow;
}
.edit-content-bar .removeContent{
  background-color: lightpink;
}



.text-content{
  background-color: gray;
  all: unset;
  border: none;
  width: 100%;
  border-left: 1px solid green;
  cursor: text;
  box-sizing: border-box;
  display: block;
  color: white;
  padding: .5rem;
  background-color: transparent;
  font-family: sans-serif;
  font-size: 0.7rem;
  transition: background-color 0.5s;
}
input:hover, textarea:hover{
  background-color: #444;
}

textarea{
  resize: vertical;
  overflow: scroll;
  height: 5rem;
}

label{
  font-size: 0.7rem;
  color: #AAA;
}
