.react-flow__background{
  background-color: #111;
}

.react-flow__handle{
  background-color: green;
  width: .7rem;
  height: 100%;
  max-height: .7rem;
  border: none;
  border-radius: 10% 100% 100% 10%;
}
.react-flow__handle:hover{
  background-color: yellow;
}

.react-flow__handle-left{
  left: -1rem;
}
.react-flow__handle-right{
  right: -1rem;
}

.react-flow__node{
  color: white;
  width: 200px;
  padding: 0.7rem;
  background-color: #333;
  border-radius: 5px;
  min-height: 50px;
}

.react-flow__node.selected{
  border:1px solid green;
}

.react-flow__edge.selected{
  border-color: green;
}
