.react-flow__background{
  background-color: #111;
}

.react-flow__handle-left{
  left: -1rem;
}
.react-flow__handle-right{
  right: -1rem;
}

.react-flow__node{
  color: white;
  width: 200px;
  padding: 0.7rem;
  color: white;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  min-height: 50px;
}
